@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 3;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 8px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: #000;
}


.menu ul li a:focus {
    background-color: #fff;
    color: #000;
}

.img {
    background: url(../assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}

.center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
}

.center .btns{
    margin-top: 20px;
}

.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child{
    color: #fff;
    background: none;
}

.center .btns button:first-child:hover{
    background: #fff;
    color: #000;
}
@media screen and (max-width:800px) and (max-height:1000px) {

    .menu .logo a{
        font-size: 20px;
    }
    .menu ul li a{
        padding: 5px;
        font-size: 13px;
    }
    .center .title{
        font-size: 35px;
    }
    .center .sub_title{
        font-size: 30px;
    }
    .center .btns button{
        height: 35px;
        width: 120px;
        font-size: 15px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
}

